<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258572616910-n58ptd40jnvhr3n78eu7gt03qc3cnhke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258572616910-n58ptd40jnvhr3n78eu7gt03qc3cnhke</string>
	<key>API_KEY</key>
	<string>AIzaSyDkgaJQRsjfxiN8Ttb03JGQV03ry4fM4e4</string>
	<key>GCM_SENDER_ID</key>
	<string>258572616910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neyapsak</string>
	<key>PROJECT_ID</key>
	<string>ne-yapsak-6c021</string>
	<key>STORAGE_BUCKET</key>
	<string>ne-yapsak-6c021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258572616910:ios:af409597e7ef3ac7493c9f</string>
</dict>
</plist>